<html ng-app="store">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="./app.css">
</head>
<body ng-controller="StoreController as store">
  <header>
      <h1 class="text-center">Flatlander Crafted Gems</h1>
      <h2 class="text-center">– an Angular store –</h2>
  </header>
  <div ng-repeat="product in store.products | orderBy:'-price'" ng-show="product.canSell">
    <gs-product-description></gs-product-description>
    <section ng-show="product.images.length">
      <img width="50" ng-src="{{product.images[0]}}" />
      <ul class="list-inline thumbs">
        <li class="thumbnail" ng-repeat="image in product.images">
          <img width="50" ng-src="{{image}}" />
        </li>
      </ul>
    </section>
    <section ng-controller="TabController as tab">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link active" href="#" ng-click="tab.setContent(0)">Description</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" ng-click="tab.setContent(1)">Specs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" ng-click="tab.setContent(2)">Review</a>
        </li>
      </ul>
      <div ng-show="tab.isContent(0)">{{product.description}}</div>
      <div gs-product-specs ng-show="tab.isContent(1)"></div>
      <div ng-show="tab.isContent(2)">
        <div ng-repeat="review in product.reviews">
          <blockquote>
            <strong>{{review.stars}} Stars</strong>
            <div>{{review.body}}</div>
            <div><cite>{{review.author}}</cite></div>
          </blockquote>
        </div>
        <div>
          <form name="reviewForm" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate>
            <blockquote>
              <h3>Write your Review</h3>
              <div>
                <blockquote>
                  <strong>{{reviewCtrl.review.stars}} Stars</strong>
                  <div>{{reviewCtrl.review.body}}</div>
                  <div><cite>{{reviewCtrl.review.author}}</cite></div>
                </blockquote>
              </div>
              <div>
                <select required ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5, 4, 3, 2, 1]">
                <option value="">Rate the product</option>
                </select>
              </div>
              <div><input type="text" required ng-model="reviewCtrl.review.body" placeholder="Write your review"></input></div>
              <div><input type="email" required ng-model="reviewCtrl.review.author" placeholder="E-mail"></input></div>
              <button>Submit</button>
            </blockquote>
          </form>
        </div>
      </div>
    </section>
    <br/>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="dist/app.js"></script>
</body>
</html>
